pip install flask
pip install opencv-python
pip install mediapipe
pip install pyautogui
pip install pygetwindow
pip install SpeechRecognition
pip install pyaudio
pip install time
pip install uuid
pip install sys